<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atid.lib"
    android:versionCode="2022062000"
    android:versionName="1.19.2022062000" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="29" />

</manifest>